.footer{
    background: black;
    height: 15%;
   
}
.footerIcons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerIcons i {
    transition: all .2s ease-in-out !important; 
    cursor: pointer;
    margin: 1vw;
    color: aliceblue;

}

.footerIcons i:hover{
    transform: scale(1.1); 
}

.copy{
    color: aliceblue;
    background-color: black;
    text-align: center;
}
.more{

     color:#e94560 ;
     text-align:center; 
     padding: 2% 0 0;
     font-size: 25px;
}

@media only screen and (max-width: 767px) {

    .more{

        color:#e94560;
        text-align:center; 
        padding: 4% 0 4%;
   }
    .footerIcons{
        padding: 0 0 5%;
    }

}
