* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  color: var(--black);
  background-color: var(--light-grey);
  min-height: 100%;
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0;
}

:root {
  --light-grey: whitesmoke;
  --black: #111;
}

.header-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  color: black;
  background: transparent;
  transition: color 0.3s;
}

.header-button .header-button-text {
  position: relative;
  z-index: 2;
  transition: color 0.3s;
}

.header-button::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: black;
  z-index: 1;
  transition: height 0.3s;
}

.header-button:hover::before {
  height: 100%;
}

.header-button:hover .header-button-text {
  color: var(--light-grey);
}

.button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  color: black;
  background: transparent;
  transition: color 0.3s;
  text-decoration: none;
}

.button .button-text {
  position: relative;
  z-index: 2;
  transition: color 0.3s;
}

.button::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: black;
  z-index: 1;
  transition: height 0.3s;
}

.button:hover::before {
  height: 100%;
}

.button:hover .button-text {
  color: white;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.28em;
  font-weight: 400;
  line-height: 1.4;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5em;
  font-weight: 400;
  line-height: 1.4;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.19em;
  font-weight: 400;
  line-height: 1.4;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.88em;
  font-weight: 400;
  line-height: 1.4;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.67em;
  font-weight: 500;
  line-height: 1.4;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.46em;
  font-weight: 500;
  line-height: 1.4;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5em;
}

a {
  font-size: 1em;
  text-decoration: none;
}

.page-padding {
  width: 100%;
  padding: 0 6.25%;
}

.html {
  width: 0;
  height: 0;
  position: absolute;
  inset: 0% 0% auto;
}

.section-hero {
  padding-top: 7.5em;
  padding-bottom: 3.5em;
}

.hero-heading {
  letter-spacing: -0.02em;
  font-size: 6.375em;
  font-weight: 400;
  line-height: 1.1;
}

.herow.line-1 {
  align-items: flex-end;
  margin-bottom: -0.1em;
  display: flex;
}

.hero-heading-wrapper {
  margin-bottom: 3.5em;
}

.header {
  border-bottom: 2px solid var(--black);
  padding-top: 1em;
  padding-bottom: 1em;
}

.header-inner {
  text-transform: uppercase;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.header-logo {
  color: var(--black);
  font-size: 2em;
  font-weight: 500;
  line-height: 1.1;
}

.header-button {
  border: 2px solid var(--black);
  margin-left: auto;
  padding: 0.75em 1em;
  font-size: 1em;
  line-height: 1.2;
  transition: color 0.2s;
  position: relative;
  overflow: hidden;
  transform: translate(0);
}

.header-button:hover {
  color: var(--light-grey);
}

.button {
  border: 2px solid var(--black);
  text-transform: uppercase;
  padding: 1em 2em;
  line-height: 1.2;
  transition: color 0.2s;
  position: relative;
  overflow: hidden;
  transform: translate(0);
}

.button:hover {
  color: var(--light-grey);
}

.button:hover svg path {
  fill: var(--light-grey);
}

.button-centered {
  justify-content: center;
  display: flex;
}

.button-text {
  z-index: 1;
  font-size: 1.25em;
  position: relative;
}

.section-cta {
  padding-top: 2.5em;
  padding-bottom: 3.75em;
  position: relative;
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 991px) {
  .page-padding {
    padding-left: 6vw;
    padding-right: 6vw;
  }

  .button {
    font-size: 1.6em;
  }
}

@media screen and (max-width: 767px) {
  .hero-heading {
    font-size: 7.2em;
  }

  .hero-heading-wrapper {
    font-size: 1.29205vw;
  }

  .button {
    font-size: 2em;
  }
}

@media screen and (max-width: 479px) {
  .hero-heading-wrapper {
    font-size: 1.48vw;
  }

  .header {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .header-logo {
    font-size: 1.5em;
    font-weight: 400;
  }
}
