/* 

.menu{
display: flex;
justify-content: space-between;
align-items: baseline;
padding: 2vh;

}

.menu-list {
    list-style: none;
    display: flex;
}

.menu-list li {
    display: inline-block;
    margin-left: 32px;
    font-size: 1.1em;
    cursor: pointer;
    transition: color 0.3s;
    font-weight: bold;
}

.menu-list li.active,
.menu-list li:hover {
    color: #ff5360;
} */


@media only screen and (min-width: 768px) {

    header {
        color: #000000;
        background-color: aliceblue;
        position: sticky;
        top: 0;
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2vh;
        font-size: 16px;
        z-index: 99;
        /* box-shadow: 5px 6px 20px 0px #b1b1b1; */
        
    }
    
    header h1 {
        text-transform: uppercase;
        font-size: 1.7em;
        letter-spacing: 10px;
    }
    
    
    .menu {
        display: flex;
    }
    
    .menu-list {
        list-style: none;
        display: flex;
    }
    
    .menu-list li a{
        display: inline-block;
        margin-left: 32px;
        font-size: 1.1em;
        cursor: pointer;
        transition: color 0.3s;
        font-weight: bold;
       
    }
    .menu-list li a {
      color: #000000;
      text-decoration: none;
    }
   
    .menu-list li a.active,
    .menu-list li a:hover {
        color: #ff5360;
    }  

    .burger{
        display: none !important;
    }
    .close{
        display: none !important;
    }
}

@media only screen and (max-width: 767px) {

    header {     
        color: #000000;
        background-color: aliceblue;
        position: sticky;
        top: 0;
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2vh;
        font-size: 16px;
        z-index: 99;
        /* box-shadow: 5px 6px 20px 0px #b1b1b1;    */
    }

    .menu-list {
      
            position: fixed;
            top: 0;
            right: 0;
            width: 80%;
            height: 100%;
            background-color:#181523;
            color: #fff;
            padding: 46px;
            flex-direction: column;
            align-items: flex-end;
            padding-top: 80px;
            transform: translateX(100%);
            transition: transform 0.5s;
            list-style: none;
        
    }
    .menu-list li {
        font-size: 1.7em;
        margin: 32px 0px;
        
    }
    .menu-list li a {
        text-decoration: none;
        color: aliceblue;
    }
    .menu.opened .menu-list {
        transform: translateX(0);
    }
   .menu.opened button {
        color: aliceblue;
    }
    header h1 {
        text-transform: uppercase;
        font-size: 1.2em;
        letter-spacing: 1px;
        width: min-content;    
    }
}