.projects{
    height:70vh;
    margin-top: 3vh;
}
.projecTitle{
    color: #ff5360;
    font-size: 3.2em;
    width: 100%;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 48px;
    text-align: center;
}
.projectSection{
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
    flex-flow: wrap;
}


@media only screen and (max-width: 767px) {

    .projects{
        height:100%;
    }



}